In [1]:
import os
import sys
import yaml
import json
import numpy as np

with open("config.yaml", 'r') as yml_file:
    cfg = yaml.safe_load(yml_file)
    
#Get data path from config 
data_path = cfg['brian_laptop']['data_path']
mb_div = cfg['constant']['mb_div']
gb_div = cfg['constant']['gb_div']

#Get dyype for meta file 
meta_data_file = os.path.join(data_path, cfg['data']['metadata'])
with open(meta_data_file) as f:
    meta_data = json.load(f)

In [1]:
import pandas as pd
import datetime as dt #not a as name for pydatatable
print(pd.__version__)

0.25.1

 ## Open Files
- hdf5 not read in

In [5]:
yellow_trip_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_csv'])
print("File Size(GB):",round(os.path.getsize(yellow_trip_file)/gb_div,3))

#get the datatype
yellow_taxi_dtype = dict(zip(
    meta_data['yellow_trip_taxi']['colnames'],
    meta_data['yellow_trip_taxi']['dtype']))

yellow_trip = pd.read_csv(yellow_trip_file, 
                          parse_dates = meta_data['yellow_trip_taxi']['datecols'])

File Size(GB): 2.72

In [3]:
## parquet_snappy
## snappy is defaut for pd.to_parquet
yellow_trip_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_parquet_snappy'])
yellow_taxi = pd.read_parquet(yellow_trip_file)

In [7]:
## parquet_gzip
yellow_trip_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_parquet_gzip'])
yellow_taxi = pd.read_parquet(yellow_trip_file)

In [8]:
## hdf
yellow_trip_file  = os.path.join(data_path, cfg['data']['nyc_yellow_trip_hdf'])
yellow_taxi = pd.read_hdf(yellow_trip_file)

In [4]:
yellow_taxi

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2010-06-18 10:43:46,2010-06-18 11:22:12,4,20.00,-73.972894,40.792810,2,0.0,-73.776308,40.645528,Cas,45.0,0.0,0.5,0.0,4.57,50.07
1,CMT,2010-06-26 15:02:57,2010-06-26 15:07:15,1,0.70,-73.987815,40.748480,1,0.0,-73.977535,40.753880,Cas,4.5,0.0,0.5,0.0,0.00,5.00
2,CMT,2010-06-24 07:36:37,2010-06-24 07:43:29,1,1.00,-74.006497,40.732921,1,0.0,-73.998122,40.725982,Cas,5.7,0.0,0.5,0.0,0.00,6.20
3,CMT,2010-06-23 18:42:21,2010-06-23 18:55:41,2,3.50,-73.987534,40.733397,1,0.0,-73.951097,40.770543,Cre,10.9,1.0,0.5,1.0,0.00,13.40
4,CMT,2010-06-23 14:10:43,2010-06-23 14:17:02,1,1.20,-73.955832,40.779476,1,0.0,-73.968117,40.765118,Cas,5.7,0.0,0.5,0.0,0.00,6.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14825123,VTS,2010-06-03 12:59:00,2010-06-03 13:30:00,1,5.08,-73.994533,40.750563,1,NaN,-73.944355,40.798977,CAS,18.9,0.0,0.5,0.0,0.00,19.40
14825124,VTS,2010-06-05 17:51:00,2010-06-05 17:59:00,2,2.06,-73.982848,40.769117,1,NaN,-74.001272,40.752168,CAS,7.3,0.0,0.5,0.0,0.00,7.80
14825125,VTS,2010-06-15 08:58:00,2010-06-15 09:09:00,1,2.31,-74.000440,40.737360,1,NaN,-73.979345,40.762668,CAS,8.5,0.0,0.5,0.0,0.00,9.00
14825126,VTS,2010-06-05 15:31:00,2010-06-05 15:34:00,1,0.50,-73.982557,40.742827,1,NaN,-73.974788,40.741175,CAS,3.3,0.0,0.5,0.0,0.00,3.80
14825127,VTS,2010-06-05 11:10:00,2010-06-05 11:20:00,1,1.47,-73.994122,40.751227,1,NaN,-73.979610,40.765978,Cre,6.9,0.0,0.5,2.0,0.00,9.40

### Summary

In [5]:
# Have experienced issues here with hdf ? 
yellow_taxi.describe()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
count,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,6.670024e+06,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07,1.482513e+07
mean,1.672514e+00,2.804792e+00,-7.239904e+01,3.992489e+01,1.034864e+00,1.267522e-02,-7.242654e+01,3.994008e+01,1.012236e+01,3.287443e-01,4.982613e-01,7.899388e-01,1.894254e-01,1.193114e+01
std,1.282332e+00,3.230318e+00,1.076376e+01,1.061805e+01,3.504888e-01,1.118685e-01,1.060586e+01,1.062210e+01,7.990422e+00,3.694667e-01,2.943375e-02,1.595601e+00,9.631931e-01,9.380994e+00
min,0.000000e+00,0.000000e+00,-8.848512e+02,-3.579139e+03,0.000000e+00,0.000000e+00,-7.727500e+02,-3.538432e+03,2.500000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.500000e+00
25%,1.000000e+00,1.020000e+00,-7.399201e+01,4.073540e+01,1.000000e+00,0.000000e+00,-7.399141e+01,4.073459e+01,5.700000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,6.800000e+00
50%,1.000000e+00,1.750000e+00,-7.398153e+01,4.075301e+01,1.000000e+00,0.000000e+00,-7.398007e+01,4.075346e+01,7.700000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,9.100000e+00
75%,2.000000e+00,3.100000e+00,-7.396694e+01,4.076741e+01,1.000000e+00,0.000000e+00,-7.396420e+01,4.076804e+01,1.130000e+01,5.000000e-01,5.000000e-01,1.180000e+00,0.000000e+00,1.310000e+01
max,2.080000e+02,5.000000e+01,3.569931e+03,1.963516e+03,2.100000e+02,1.000000e+00,1.036395e+03,1.963516e+03,2.000000e+02,8.050000e+00,5.000000e-01,1.000000e+02,2.000000e+01,2.359000e+02

### Value Count

In [7]:
# Very fast
yellow_taxi.passenger_count.value_counts()

1      10207628
2       2293152
5       1262078
3        680684
4        323814
6         57696
0            39
208          35
133           1
9             1
Name: passenger_count, dtype: int64

### Dates

In [8]:
yellow_taxi.dtypes

vendor_id                     object
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
trip_distance                float64
pickup_longitude             float64
pickup_latitude              float64
rate_code                      int64
store_and_fwd_flag           float64
dropoff_longitude            float64
dropoff_latitude             float64
payment_type                  object
fare_amount                  float64
surcharge                    float64
mta_tax                      float64
tip_amount                   float64
tolls_amount                 float64
total_amount                 float64
dtype: object

In [12]:
yellow_taxi['pu_day_of_week'] = yellow_taxi.pickup_datetime.dt.weekday_name
yellow_taxi['pu_hour'] = yellow_taxi.pickup_datetime.dt.hour

### Groupby

In [15]:

result = yellow_taxi.groupby(by = yellow_taxi.pu_hour).agg(
    {'fare_amount' :'mean',
    'tip_amount' :'mean'})

result

         fare_amount  tip_amount
pu_hour
0          10.712351    0.856506
1          10.379013    0.808086
2          10.335451    0.790753
3          10.770477    0.785854
4          12.128466    0.844026
5          13.445921    1.103399
6          10.798116    0.877053
7           9.799126    0.802102
8           9.746156    0.818392
9           9.695738    0.787294
10          9.628613    0.725769
11          9.813193    0.714027
12          9.882273    0.711417
13         10.204327    0.726495
14         10.438686    0.745110
15         10.504370    0.755092
16         10.444882    0.787392
17         10.222083    0.779938
18          9.819595    0.774458
19          9.477603    0.764536
20          9.646841    0.804061
21          9.943440    0.838801
22         10.240857    0.852392
23         10.530958    0.862699