In [39]:
import os
import sys
import yaml
import json
import numpy as np

with open("config.yaml", 'r') as yml_file:
    cfg = yaml.safe_load(yml_file)
    
#Get data path from config 
data_path = cfg['brian_laptop']['data_path']
mb_div = cfg['contants']['mb_div']

#Get dyype for meta file 
meta_data_file = os.path.join(data_path, cfg['data']['metadata'])
with open(meta_data_file) as f:
    meta_data = json.load(f)

In [29]:
import pandas as pd
print(pd.__version__)
import datetime as dt

0.25.1

In [30]:
%%time

yellow_trip_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_csv'])
yellow_trip = pd.read_csv(yellow_trip_file)

CPU times: user 45.8 s, sys: 19.2 s, total: 1min 5s
Wall time: 1min 4s

In [32]:
yellow_trip_out_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_parquet_gzip'])
yellow_trip.to_parquet(yellow_trip_out_file, compression = "gzip")
#yellow_trip_out_file  = os.path.join(data_path, cfg['data']['nyc_yellow_trip_hdf'])
#yellow_trip.to_hdf(yellow_trip_out_file, key = "2010_06", mode = "w")

In [17]:
len(yellow_trip)

14825128

In [ ]:
%%time

#Take out the parse dates as to0 slow. 
nyc_taxi_fare_file = os.path.join(data_path, cfg['data']['kaggle_nyc'])
nyc_taxi_fare_dtype = dict(zip(meta_data['kaggle_nyc']['colnames'], meta_data['kaggle_nyc']['dtype']))
nyc_taxi_fare = pd.read_csv(nyc_taxi_fare_file, 
                            dtype = nyc_taxi_fare_dtype)

In [33]:
%%time

yellow_trip_parquet = os.path.join(data_path, cfg['data']['nyc_yellow_trip_parquet_gzip'])
yellow_trip = pd.read_parquet(yellow_trip_parquet)

CPU times: user 24.3 s, sys: 7.98 s, total: 32.3 s
Wall time: 21.1 s

In [19]:
del(yellow_trip_file)

In [34]:
yellow_trip.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2010-06-18 10:43:46,2010-06-18 11:22:12,4,20.0,-73.972894,40.792810,2,0.0,-73.776308,40.645528,Cas,45.0,0.0,0.5,0.0,4.57,50.07
1,CMT,2010-06-26 15:02:57,2010-06-26 15:07:15,1,0.7,-73.987815,40.748480,1,0.0,-73.977535,40.753880,Cas,4.5,0.0,0.5,0.0,0.00,5.00
2,CMT,2010-06-24 07:36:37,2010-06-24 07:43:29,1,1.0,-74.006497,40.732921,1,0.0,-73.998122,40.725982,Cas,5.7,0.0,0.5,0.0,0.00,6.20
3,CMT,2010-06-23 18:42:21,2010-06-23 18:55:41,2,3.5,-73.987534,40.733397,1,0.0,-73.951097,40.770543,Cre,10.9,1.0,0.5,1.0,0.00,13.40
4,CMT,2010-06-23 14:10:43,2010-06-23 14:17:02,1,1.2,-73.955832,40.779476,1,0.0,-73.968117,40.765118,Cas,5.7,0.0,0.5,0.0,0.00,6.20

In [25]:
%%time

yellow_trip_hdf = os.path.join(data_path, cfg['data']['nyc_yellow_trip_hdf'])
yellow_trip = pd.read_hdf(yellow_trip_hdf, key = "2010_06")

CPU times: user 7.02 s, sys: 9.46 s, total: 16.5 s
Wall time: 18.7 s

In [36]:
yellow_trip.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2010-06-18 10:43:46,2010-06-18 11:22:12,4,20.0,-73.972894,40.792810,2,0.0,-73.776308,40.645528,Cas,45.0,0.0,0.5,0.0,4.57,50.07
1,CMT,2010-06-26 15:02:57,2010-06-26 15:07:15,1,0.7,-73.987815,40.748480,1,0.0,-73.977535,40.753880,Cas,4.5,0.0,0.5,0.0,0.00,5.00
2,CMT,2010-06-24 07:36:37,2010-06-24 07:43:29,1,1.0,-74.006497,40.732921,1,0.0,-73.998122,40.725982,Cas,5.7,0.0,0.5,0.0,0.00,6.20
3,CMT,2010-06-23 18:42:21,2010-06-23 18:55:41,2,3.5,-73.987534,40.733397,1,0.0,-73.951097,40.770543,Cre,10.9,1.0,0.5,1.0,0.00,13.40
4,CMT,2010-06-23 14:10:43,2010-06-23 14:17:02,1,1.2,-73.955832,40.779476,1,0.0,-73.968117,40.765118,Cas,5.7,0.0,0.5,0.0,0.00,6.20

In [ ]:
import datatable as dt
print(dt.__version__)

In [35]:
import vaex
print(vaex.__version__)
import datetime as dt

1.0.0-beta.6

In [37]:
type(yellow_trip)

pandas.core.frame.DataFrame

In [38]:
df = vaex.from_pandas(yellow_trip)
type(df)

vaex.dataframe.DataFrameArrays

In [40]:
yellow_trip_file = os.path.join(data_path, cfg['data']['nyc_yellow_trip_hdf5'])
yellow_trip_file

'/Users/bcarte18/Documents/Learning/personal_git/push-over-pandas_pycon-ireland-19/data/yellow_tripdata_2010-06.hdf5'

In [41]:
df.export_hdf5(yellow_trip_file)